@model ProjectContentManager.Models.IndexViewModel
@{
    ViewBag.Title = "Cuenta";
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <h3>@ViewBag.Title.</h3>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Cambiar la configuración de la cuenta</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </dl>
        </div>
    </div>
</div>

